.idea/
.venv/
.venv314/
.venv_broken315/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.server.pid
server.out.log
server.err.log
gradio.out.log
gradio.err.log
results.json
training_log.csv
v2.tar.gz
"attachment.png" 
"venv/" 
venv/ 
